*{ 
    margin: 0;
    padding: 0;
}
body{
    background-attachment: fixed;
    background-image: url(../images/bg.png);
    background-size: cover;
    opacity: 1;
    z-index: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 35px;
  
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;

}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul a:hover,
nav ul a.active{
    color: brown;
    text-decoration: underline;
}
.img{
    height: 20px;
    background-color: #000000;
    padding: 7px 7px;
    cursor: pointer;
}
.btn{
    background-color: #e90a9b;
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 700;
}
section{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 60px 30px;
   margin: 60px 30px;
}
section h1{
    font-size: 40px;
    color: white;
    padding: 5px;
}
section p{
    font-size: 15px;
    color: white;
    padding: 5px;
}
.btn-2{
    background-color: #e90a9b;
    color: white;
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 700;

}
